<h1>All School Classes</h1>

<% @school_classes.each do |school_class| %>
  <div><%= link_to school_class.title, school_class %></div><br>
<% end %>
<br>
<%= link_to "Create a School Class", new_school_class_path %><br>
<%= link_to "Go to Students", students_path %>
